<h1>Stupid Coaching🚀(Answer)</h1>

<div class=container>
  <p><b>Question: </b><%= @question %></p>
  <p><b>From: </b><%= @firstname %></p>
</div>

<div class=container>
  <p>Coach Answer: <%= @answer %></p>
</div>



<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Question:</h5>
    <p class="card-text"><%= @question %></p>
    <p><b>From: </b><%= @firstname %></p>
  </div>
</div>


<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Coach Answer:</h5>
    <p class="card-text"><%= @answer %></p>
  </div>
</div>

<div class=footer><p><%= link_to "Ask new question", ask_path %></p></div>

